<h1>Welcome to Monggovest.com, <%= @user.name %></h1>
  <p>
    Please copy the Mentioned token below <%= @user.name %>.<br>
    To get you password reset.
  </p>
  <p>
  	<%= @user.reset_password_token =>
  </p>
<p>Thanks for your time and have a great day!</p>