<h1>Welcome to Monggovest.com, <%= @user.name %></h1>
  <p>
    Please Click the Mentioned Link above <%= @user.name %>.<br>
    To get you password reset.
  </p>
<p>Thanks for your time and have a great day!</p>