<h1>Welcome to Monggovest.com, <%= @user.name %></h1>
  <p>
    Please Click the Mentioned Link below <%= @user.name %>.<br>
    To get your password reset.
  </p>
  <p>
  	<%= @url %>
  </p>
<p>Thanks for your time and have a great day!</p>